
<app-header></app-header>
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<input #file accept=".csv, .xml" type="file" (change)="upload(file.files)" />
<br />
<span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
    {{progress}}%
</span>
<span style="font-weight:bold;color:green;" *ngIf="!isError">
    {{message}}
</span>
<span style="font-weight:bold;color:red;" *ngIf="isError">
    {{message}}
</span>
<content>
    <router-outlet></router-outlet>
    <br />
    <br />

    <!--<select [(ngModel)]="yourOption" id="category">
        <option value="" disabled selected>>select an option</option>
        <option *ngFor="let option of options$ | async" [value]="option.value">{item.category}}</option>
    </select>-->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Transaction Id</th>
                <th>Payment</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of transactions | async">
                <td>{{t.transactionId}}</td>
                <td>{{t.payment}}</td>
                <td>{{t.status}}</td>

            </tr>
        </tbody>
    </table>
</content>

<app-footer></app-footer>
