<app-header></app-header>
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<input #file accept=".csv, .xml" type="file" (change)="upload(file.files)" />
<br />
<span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
    {{progress}}%
</span>
<span style="font-weight:bold;color:green;" *ngIf="!isError">
    {{message}}
</span>
<span style="font-weight:bold;color:red;" *ngIf="isError">
    {{message}}
</span>
<content>
    <router-outlet></router-outlet>
    <br />
    <br />

    <div class="row">
        <div class="col-md-3">
            <select class="form-control">
                <option value="">-- Select Currency code --</option>
                <option *ngFor="let cc of currencyCodes | async" value="cc">{{cc}}</option>
            </select>

        </div>
        <div class="col-md-3">
            <select class="form-control">
                <option value="">-- Select Status --</option>
                <option value="A">A</option>
                <option value="R">R</option>
                <option value="D">D</option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder= "Start date" name="d2" #c2="ngModel" [(ngModel)]="model2"
                        ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i
                                class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="To date" name="d2" #c2="ngModel" [(ngModel)]="model2"
                        ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                            <i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Transaction Id</th>
                <th>Payment</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of transactions | async">
                <td>{{t.transactionId}}</td>
                <td>{{t.payment}}</td>
                <td>{{t.status}}</td>

            </tr>
        </tbody>
    </table>
</content>

<app-footer></app-footer>
